$basic-black: #000000;
$basic-black-half: #010000;
$basic-grey-light: #ececec;
$basic-grey-light-extra: #e5e5e5;
$basic-white: #ffffff;
$basic-grey-light-half: #f1f1f1;
$basic-grey: #444444;
$special-green: #63d1bb;
$special-green-half: #59d5bc;
$special-green-dark: #56c3b2;
$special-green-light-half: #46c1ae;
$special-green-light: #62d1ba;
$special-green-dark-half: #149080;
$font-family: "Open Sans", "Arial", sans-serif;
