$basic-black: #000000;
$basic-white: #ffffff;
$basic-grey: #444444;
$special-green: #63d1bb;
$special-green-half: #59d5bc;
$special-green-dark: #56c3b2;
$special-green-dark-half: #46c1ae;
$special-green-light: #62d1ba;
