.catalog-goods__item {
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    margin-bottom: 52px;
    display: grid;
    grid-template-columns: min-content 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-rows: min-content 1fr;
    grid-template-columns: auto;
  }
}

.catalog-goods__wrapper {
  border: 1px solid $basic-grey-light;
  box-sizing: border-box;
  width: 100%;
  padding: 0 30px;
  display: flex;
  flex-wrap: wrap;

  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:focus {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }

  @media (min-width: $tablet-width) {
    align-content: flex-start;
    flex-direction: column;
    position: relative;
  }
}

.catalog-goods__link {
  margin: 0;
  line-height: 0;

  @media (min-width: $tablet-width) {
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.catalog-goods__img {
  width: 260px;
  height: 195px;

  @media (min-width: $tablet-width) {
    width: 334px;
    height: auto;
  }

  @media (min-width: $desktop-width) {
    width: 316px;
    height: auto;
  }
}

.catalog-goods__header-link {
  text-decoration: none;
  color: $basic-black;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.3;
  }
}

.catalog-goods__header {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  margin: 27px 0 0 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    margin: 26px 32px 0 0;
  }

  @media (min-width: $desktop-width) {
    margin: 26px 12px 0 0;
  }
}

.catalog-goods__characteristic {
  font-size: 13px;
  line-height: 30px;
  border-bottom: 1px solid $basic-grey-light;
  width: 100%;
  margin: 5px 0 0 0;
  padding-bottom: 18px;

  @media (min-width: $tablet-width) {
    font-size: 15px;
    flex-grow: 1;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 12px;
  }
}

.catalog-goods__price {
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  width: 179px;
  margin: 23px 0 25px 0;

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }
}

.catalog-goods__basket {
  opacity: 0.2;
  width: 21px;
  height: 18px;
  display: block;
  align-self: flex-start;
  padding-top: 22px;

  &:hover {
    fill: $special-green;
    opacity: 1;
  }

  &:focus {
    fill: $special-green;
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 32px;
    right: 34px;
  }
}
