.contacts {
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    margin-bottom: 57px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto 52px;
    margin: 0 50px;
    padding-bottom: 105px;
  }
}

.contacts__wrapper {
  margin: 0 30px;

  @media (min-width: $tablet-width) {
    margin: 0 50px 17px 50px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 0 175px;
  }
}

.contacts__header {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  margin: 39px 0 28px 0;
  position: relative;


  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
    margin: 20px 0 49px 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
    margin: 79px 0 35px 0;
  }

  &::after {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      background: url("../img/icon-flag.svg");
      width: 46px;
      height: 82px;
      top: -23px;
      right: 5px;
    }

    @media (min-width: $desktop-width) {
      left: -112px;
      top: -18px;
    }
  }
}

.contacts__info {
  color: $basic-grey;
  line-height: 30px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 77px auto;
    grid-template-rows: auto auto;
  }
}

.contacts__title {
  width: 76px;
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    width: 76px;
  }
}

.contacts__characteristics {
  width: 183px;
  line-height: 30px;
  margin: 0;
  padding-bottom: 31px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    width: 257px;
  }
}

.contacts__characteristics-email {
  color: $basic-grey;
  text-decoration: none;
  border-bottom: 1px solid $special-green;

  &:hover {
    color: $special-green-light-half;
    border-bottom: 1px solid $special-green-light-half;
  }

  &:focus {
    color: $special-green-light-half;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 8px;
  }
}

.contacts__map {
  margin-bottom: 40px;
  position: relative;
  text-align: center;
  width: 100%;
  height: 457px;

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    width: 525px;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column: 2;
    margin-bottom: 0;
    line-height: 0;
  }
}

.contacts__map-wrapper {
  width: 100%;
  height: 100%;
}

.contacts__button {
  font-size: 18px;

  @media (min-width: $tablet-width) {
    width: 230px;
    margin: 0 auto;
    font-size: 17px;
  }

  @media (min-width: $desktop-width) {
    width: 230px;
    margin: 0;
    padding: 14px 0 12px 0;
  }
}

.contacts__map-img {
  width: 320px;
  height: 457px;

  @media (min-width: $tablet-width) {
    width: 768px;
    height: auto;
  }

  @media (min-width: $desktop-width) {
    width: 525px;
    height: auto;
  }
}

.contacts__map-img-wrap {
  position: relative;
  width: 320px;
  height: 457px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 768px;
    height: auto;
  }

  @media (min-width: $desktop-width) {
    width: 525px;
    height: auto;
  }

  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 66px;
    height: 101px;
    background: url("../img/icon-map-pin.svg");
    top: 148px;
    left: 138px;

    @media (min-width: $tablet-width) {
      top: 136px;
      left: 364px;
    }

    @media (min-width: $desktop-width) {
      top: 144px;
      left: 239px;
    }
  }
}
