.good {
  width: 100%;
  margin: 30px 0 0 0;
  background: url(../img/bg-zigzag-line.svg) 0 100% no-repeat;
  padding-bottom: 43px;
  background-size: 100%;
}

.good__wrapper {
  margin: 0 30px;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    margin: 0 50px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto;
  }
}

.good__header {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  margin: 0 0 3px 0;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.good__week {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: $special-green;
  text-transform: uppercase;
  width: 100%;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 17px;
    width: 100px;
    text-align: center;
    align-self: center;
    padding-right: 10px;
  }
}

.good__description {
  color: $basic-grey;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 30px;
  }
}

.good__price {
  font-weight: bold;
  font-size: 17px;
  color: $basic-grey;
  margin: 0 0 24px 0;
  width: 100%;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }
}

.good__img {
  width: 260px;
  margin: 28px 0 21px 0;

  @media (min-width: $tablet-width) {
    grid-row-start: 2;
    grid-row-end: 6;
    grid-column: 2;
  }
}
