.main-banner {
  width: 100%;
  background: url("../img/hero-mobile@1x.jpg") center -18px no-repeat;
  background-size: 575px 373px;

  @media (min-resolution: 2dppx) {
    background: url("../img/hero-mobile@2x.jpg") center -18px no-repeat;
    background-size: 575px 373px;
  }

  @media (min-width: $tablet-width) {
    background: url("../img/hero-tablet@1x.jpg") center 0 no-repeat;
    margin-top: -64px;
    background-size: 1150px 746px;
  }

  @media (min-width: $tablet-width) and (min-resolution: 2dppx) {
    background: url("../img/hero-tablet@2x.jpg") center 0 no-repeat;
    background-size: 1150px 746px;
  }
}

.main-banner__wrapper {
  position: relative;

  &::after {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      width: 100%;
      height: 24px;
      bottom: -10px;
      left: 0;
      background: url("../img/bg-zigzag-fill.svg") repeat-x;
      background-size: 770px 24px;
    }

    @media (min-width: $desktop-width) {
      height: 37px;
      bottom: -19px;
      background-size: 1250px 37px;
      left: 14px;
    }
  }
}

.main-banner__header {
  width: 260px;
  padding: 73px 30px 120px 30px;
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  color: $basic-black-half;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
    width: 510px;
    padding: 155px 36px 372px 30px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
    width: 700px;
    padding: 158px 30px 355px 30px;
  }
}
