.page {
  height: 100%;
}

.page__body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;

  background-color: $basic-white;
  color: $basic-black;

  font-family: $font-family;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 24px;
  min-width: 320px;
  max-width: 1150px;
  margin: 0 auto;
}
