.page-catalog__wrapper {
  background: $basic-grey-light-half;
  padding: 73px 0;
  text-align: center;
}

.page-catalog__header {
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  margin: 0;
}

.page-catalog__goods {
  margin: 30px;
}
