.page-footer {
  width: 100%;
  background-color: $basic-grey-light-half;
}

.page-footer__wrapper {
  margin: 0 30px;
  display: grid;

  @media (min-width: $tablet-width) {
    margin: 0 50px;
    grid-template-columns: 33% 22% 45%;
    grid-template-rows: auto;
    padding: 51px 0 50px 0;
    align-items: flex-start;
  }
}

.page-footer__logo {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    width: 102px;
    height: 34px;
  }

  &:hover svg {
    fill: $special-green-light-half;
  }

  &:focus svg {
    fill: $special-green-light-half;
    opacity: 0.3;
  }
}
