.user-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;

  @media (min-width: $tablet-width) {
    width: auto;
    display: flex;
  }
}

.user-list__item {
  display: block;
  padding: 29px 0 25px 76px;
  background-color: $basic-white;
  mix-blend-mode: normal;
  box-shadow: 0 1px 0 $basic-grey-light, inset 0 1px 0 $basic-grey-light;

  @media (min-width: $tablet-width) {
    box-shadow: 0 1px 0 $basic-grey-light, inset 1px 1px 0 $basic-grey-light;
    width: 190px;
    padding: 33px 42px 30px 83px;
  }

  @media (min-width: $desktop-width) {
    padding: 33px 43px 30px 83px;
  }


  &--search {
    padding-bottom: 29px;

    @media (min-width: $tablet-width) {
      padding: 36px 0 34px 52px;
      width: 32px;
    }
  }

}

.user-list__item-text {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: $basic-black;

  &--search {
    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.user-list__item-img {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 1px;
  left: -45px;
  opacity: 0.2;

  @media (min-width: $tablet-width) {
    top: 0;
    left: -50px;
  }

  &--search {
    top: 1px;
    left: -45px;

    @media (min-width: $tablet-width) {
      left: -17px;
    }
  }
}

.user-list__item-link {
  text-decoration: none;
  position: relative;

  &:hover .user-list__item-text {
    color: rgba($basic-black, 0.6);
  }

  &:focus .user-list__item-text {
    color: rgba($basic-black, 0.3);
  }

  &:hover .user-list__item-img {
    fill: $special-green;
    opacity: 1;
  }

  &:focus .user-list__item-img {
    fill: $special-green;
    opacity: 0.3;
  }

  &--search {

    @media (min-width: $tablet-width) {
      width: 31px;
      height: 18px;
      display: block;
    }
  }
}
